opencv-python==4.10.0.84      # захват видео, обработка кадров
numpy>=1.26.0                 # математика и работа с массивами
pygame>=2.6.1                 # воспроизведение звука (SoundPlayer)
Pillow>=10.0.0                # поддержка изображений для Tkinter/GUI
tk==0.1.0                     # для tkinter (если нужно принудительно указать)
imutils>=0.5.4                # вспомогательные функции для cv2
requests>=2.32.0              # на будущее для загрузки моделей
loguru>=0.7.2                 # более удобное логирование (если захочешь заменить стандартное)
